@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scroll-animation {
    animation: scrollLeft 40s linear infinite;
  }